<div class="container py-3">
  <header>
    <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
        <img src="../assets/images/coffee-bean-logo.svg">
        <span class="fs-2">Coffee List</span>
      </a>
    </div>
  </header>
  <main>
    <router-outlet></router-outlet>
  </main>
  <footer class="pt-4 my-md-5 pt-md-5 border-top">
    <div class="row">
      <div class="col-12 col-md">
        <small class="d-block mb-3 text-muted">&copy; 2023 by Mykyta Krupin</small>
      </div>
    </div>
  </footer>
</div>
