<h2 class="display-6 text-center mb-4">Coffee Details</h2>

<div class="table-responsive">
  <table class="table text-center">
    <thead>
    <tr>
      <th style="width: 30%;"></th>
      <th style="width: 70%;">Description</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th scope="row" class="text-start">ID</th>
      <td>{{data.id}}</td>
    </tr>
    <tr>
      <th scope="row" class="text-start">UID</th>
      <td>{{data.uid}}</td>
    </tr>
    </tbody>
    <tbody>
    <tr>
      <th scope="row" class="text-start">Name</th>
      <td>{{data.blend_name}}</td>
    </tr>
    <tr>
      <th scope="row" class="text-start">Origin</th>
      <td>{{data.origin}}</td>
    </tr>
    <tr>
      <th scope="row" class="text-start">Variety</th>
      <td>{{data.variety}}</td>
    </tr>
    <tr>
      <th scope="row" class="text-start">Notes</th>
      <td>{{data.notes}}</td>
    </tr>
    <tr>
      <th scope="row" class="text-start">Intensifier</th>
      <td>{{data.intensifier}}</td>
    </tr>
    </tbody>
  </table>
</div>
